.main {
  padding: 50px;
  margin-top: 100vh;
  background-color: #262A31;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  z-index:40;
  position:absolute;
}

.mainText {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 16px;
}

.rollInElement {
  width: 100px;
  height: 100px;
  background-color: #f00;
  animation: rollInAnimation 1s ease-in-out forwards;
}

@keyframes rollInAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}